@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model List<Quiq_Application.Models.User_Student_CourseModel>;




<html>
<head>


    <style>
        .boxx {
            margin-left: 23%;
            width: 90%;
        }

        .ttable {
            width: 90%;
            margin-top: 20px;
        }
    </style>
</head>
<body>


    <div class="boxx">
        <h3>Add New Student</h3>
        <a asp-action="AddNewStudent" class="btn btn-primary">Add Student</a>
        <table class="ttable table table-dark">
            <tbody>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>User Address</th>
            <th>User Type</th>
            <th>Course</th>
            <th>Action</th>
            </tbody>

            @foreach (Quiq_Application.Models.User_Student_CourseModel item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    @{if (item.Gender == true)
                    {
                        <td>Male</td>
                    }
                    else
                    {
                        <td>Female</td>
                    }}
                    <td>@item.Email</td>
                    @switch (item.UserAddressId)
                    {
                        case 1:
                            <td>Amman</td>
                            break;
                        case 2:
                            <td>Zarqa</td>
                            break;
                        case 3:
                            <td>Aqapa</td>
                            break;
                        case 4:
                            <td>Jarash</td>
                            break;
                        case 5:
                            <td>Ajloun</td>
                            break;
                        case 6:
                            <td>Maan</td>
                            break;
                        default:
                            <td>Dead Sea</td>
                            break;
                    }
                    @switch (item.UserTypeId)
                    {
                        case 1:
                            <td>Admin</td>
                            break;
                        case 2:
                            <td>Teacher</td>
                            break;
                        default:
                            <td>Student</td>
                            break;
                    }
                    <td>@item.CourseName</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Student" asp-action="EditStudent" asp-route-UserId="@item.UserId">Edit</a>
                        <a class="btn btn-danger" asp-controller="Student" asp-action="DeleteStudent" asp-route-UserId="@item.UserId">Delete</a>
                    </td>
                </tr>
            }

        </table>
    </div>


</body>
</html>