@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

@model List<Quiq_Application.Models.QuizModel>;




<html>
<head>


    <style>
        .boxx {
            margin-left: 23%;
            width: 90%;
        }

        .ttable {
            width: 90%;
            margin-top: 20px;
        }
    </style>
</head>
<body>


    <div class="boxx">
        <h3>Add New Quiz</h3>
        <a asp-action="AddNewQuiz" class="btn btn-primary">Add Exam</a>
        <table class="ttable table table-dark">
            <tbody>
            <th>Exam Name</th>
            <th>Course</th>
            <th>NumberOfQuestions</th>
            <th>Mark</th>
            <th>CreatedDate</th>
            <th>RoomCode</th>
            <th>Action</th>
            </tbody>

            @foreach (Quiq_Application.Models.QuizModel item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.CourseName</td>
                    <td>@item.NumberOfQuestions</td>
                    <td>@item.Mark</td>
                    <td>@item.CreatedDate</td>
                    <td>@item.RoomCode</td>
                    <td>
                        <a class="btn btn-danger" asp-controller="Quiz" asp-action="DeleteQuiz" asp-route-QuizId="@item.QuizId">Delete</a>
                    </td>
                </tr>
            }

        </table>
    </div>


</body>
</html>

